<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form class="form-horizontal col-sm-12">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control required" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text">
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual"></textarea>
            </div>
            <div class="form-group">
                <label>E-Mail</label>
                <input class="form-control email" placeholder="email@you.com (so that we can contact you)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input class="form-control phone invalid" placeholder="999-999-9999" data-placement="top" data-trigger="manual" data-content="Must be a valid phone number (999-999-9999)" data-original-title="" title="" type="text">
                <div class="popover fade top in" style="top: 222px; left: 131px; display: block;">
                    <div class="arrow"></div>
                    <h3 class="popover-title" style="display: none;"></h3>
                    <div class="popover-content">Must be a valid phone number (999-999-9999)</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success pull-right">Send It!</button>
                <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
            </div>
        </form>
    </div>
</div>
