  <div class="container" ng-controller="youtubeapi as youtube">

        <div class="row" >

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<div id="buttons">
        <label>
            <input type="text" id="query" value='cats' placeholder="Search" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;padding: 15px;"/>
            <button type="submit" class="btn  btn-default" id="search-button" ng-click=" youtube.search()">Search video</button>
        </label>
    </div>

        <div ng-repeat="krop in youtube.Sresults">
            <div>
                <a href="/watch?v=VVXwYTKBB4M">

                    <img ng-src="{{krop.snippet.thumbnails.medium.url}}" width="320" height="180">

                </a>
            </div>
            <div>
                <h3><a href="/watch?v=VVXwYTKBB4M" >{{krop.snippet.title}}</a><span > - Duration: 4:30.</span></h3>
                <div><a href="/channel/UCwfwEKqfTxPtHWuQMlKWwpQ">David Gramblin</a></div>
                <div>{{krop.snippet.description}}</div>
                <div>
                    <ul>
                        <li>6 months ago</li>
                        <li>1,948 views</li>
                    </ul>
                </div>

            </div>
        </div>

   
            </div>
        </div>
    </div>

 

