<div class="row" ng-controller="youtubeapi as youtube">
    <div id="buttons">
        <label>
            <input type="text" id="query" value='cats' placeholder="Search" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;padding: 15px;">
            <button type="submit" class="btn  btn-default" id="search-button" ng-click="youtube.search()"> {{youtube.text}}</button>
        </label>

        <div ng-repeat="krop in youtube.Sresults" ng-show="youtube.show" >
            <div>
                <a href="/watch?v=VVXwYTKBB4M">

                    <img src="https://i.ytimg.com/vi/VVXwYTKBB4M/hqdefault.jpg" alt="" width="196" height="110">

                </a>
            </div>
            <div>
                <h3><a href="/watch?v=VVXwYTKBB4M" >Dayton nd105-4 and ribbon tweeter review</a><span > - Duration: 4:30.</span></h3>
                <div><a href="/channel/UCwfwEKqfTxPtHWuQMlKWwpQ">David Gramblin</a></div>
                <div>The little Dayton woofer and the same tweeter as the b652 air.</div>
                <div>
                    <ul>
                        <li>6 months ago</li>
                        <li>1,948 views</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <div id="search-container">
    </div>
   <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../assets/you-tube-api/auth.js"></script>
    <script src="../assets/you-tube-api/search.js"></script>
  
    <script src="https://apis.google.com/js/client.js"></script>
-->
