<div class="row" onload="googleApiClientReady()">
    <div id="buttons">
        <label>
            <input id="query" value='cats' type="text" />
            <button id="search-button"  onclick="search()">Search</button>
        </label>
        
        <div>
            <div>
                <a href="/watch?v=VVXwYTKBB4M">
                
  <img  src="https://i.ytimg.com/vi/VVXwYTKBB4M/hqdefault.jpg" alt="" width="196" height="110">

                </a>
            </div>
            <div >
                <h3><a href="/watch?v=VVXwYTKBB4M" >Dayton nd105-4 and ribbon tweeter review</a><span > - Duration: 4:30.</span></h3>
                <div><a href="/channel/UCwfwEKqfTxPtHWuQMlKWwpQ">David Gramblin</a></div>
                <div>The little Dayton woofer and the same tweeter as the b652 air.</div>
                <div>
                    <ul>
                        <li>6 months ago</li>
                        <li>1,948 views</li>
                    </ul>
                </div>
                
            </div>
        </div>

    </div>
    <div id="search-container">
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="search.js"></script>
    <script src="auth.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>


</div>
